@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #363636;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: #012555;
  background: #afafaf;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define default background properties */
.responsive-banner {
  background-image: url("https://i.ibb.co/Y7Ndh92/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
}

/* Make adjustments for smaller screen sizes */
@media (max-width: 768px) {
  .responsive-banner {
    background-image: url("https://i.ibb.co/Y7Ndh92/banner.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -10%;
    height: 30vh;
  }
}

@media (max-width: 480px) {
  .responsive-banner {
    /* height:; */
    background-repeat: no-repeat;
  }
}
